// colors
$color-primary: rgb(6, 122, 103);
$color-primary-darker: darken($color-primary, 3%);

$color-problem: #d62121;

$color-black: #333;
$color-grey: #ccc;
$color-white: #fefefe;

$color-dungeons: #a56607;
$color-warhammer: #a50707;
$color-pathfinder: #070785;
